:root {
  --main: #fc0000;
}
*::selection {
  background: var(--main);
  color: #fff;
}
* {
  transition: 0.3s;
  font-family: "Besley", sans-serif;
}
img {
  box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.4),
    inset 10px 10px 10px -10px rgba(0, 0, 0, 0.9);
}
html::-webkit-scrollbar {
  width: 10px;
}
html::-webkit-scrollbar-thumb {
  background: var(--main);
}
html::webkit-scrollbar-track {
  background: #000;
}
